body {
  font-family: "Comfortaa", sans-serif;
  padding: 0px;
  background-color: #1a1a1a;
}
.container {
  width: 300px;
  text-align: center;
}
h1,
h2,
h3 {
  color: white;
  font-family: "Comfortaa", sans-serif;
  font-size: 16px;
}
h2 {
  font-size: 32px;
}
h3 {
  font-size: 24px;
}

a {
  text-decoration: none;
  color: white;
  font-family: "Comfortaa", sans-serif;
}
.bd-grid {
  max-width: 1024px;
  display: grid;
  grid-template-columns: 100%;
  grid-column-gap: 2rem;
  width: calc(100% - 2rem);
  margin-left: 1rem;
  margin-right: 1rem;
}
.l-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  background-color: #2b2b2b8c;
}

/* nav */
.nav {
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .nav_menu {
    position: fixed;
    top: 3rem;
    right: -200%;
    width: 100%;
    height: 100%;
    padding-top: 2rem;
    background-color: #2b2b2b;
    box-shadow: -10px 0px 30px -15px rgba(2, 12, 27, 0.7);
    transition: 0.5s;
    z-index: 1;
  }
}
.nav_logo {
  margin-left: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.nav_logo_img {
  width: 2rem;
  z-index: 1;
}

.nav_item {
  margin-bottom: 2rem;
  list-style: none;
}

.nav_link {
  cursor: pointer;
  color: white;
  position: relative;
  padding: 10px 16px;
  background: #00000034;
  font-size: 15px;
  transition: all 1s;
}
.nav_link:after, .nav_link:before {
  content: " ";
  width: 10px;
  height: 10px;
  position: absolute;
  border: 0px solid #fff;
  transition: all 1s;
}
.nav_link:after {
  top: -1px;
  left: -1px;
  border-top: 2px solid rgb(255, 255, 255);
  border-left: 2px solid rgb(255, 255, 255);
}
.nav_link:before {
  bottom: -1px;
  right: -1px;
  border-bottom: 2px solid rgb(255, 255, 255);
  border-right: 2px solid rgb(255, 255, 255);
}
.nav_link:hover {
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
.nav_link:hover:before, .nav_link:hover:after {
  width: 100%;
  height: 100%;
}


.nav_toggle {
  color: white;
  font-size: 2rem;
  cursor: pointer;
}

/* Show menu */
.show {
  right: 0;
  left: 0;
}

.copyright {
  color: gray;
}

.copyright:hover {
  transform: scale(1.3);
  box-shadow: 0 4rem 5rem black;
  transition: all 0.4s;
  font-size: 1.6rem;
}

.poster {
  font-family: "Comfortaa", sans-serif;
  display: inline-block;
  height: 300px;
  line-height: 300px;
  position: relative;
  color: rgb(255, 255, 255);
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 20px;
}

.block1 {
  text-align: center;
}

.box1:hover .poster {
  transform: scale(1.2);
}

.box1 .poster {
  box-shadow: 0 4rem 5rem black;
  transition: all 0.5s;
}
.nested-links {
  opacity: 0;
  position: absolute;
  min-width: 200px;
  max-width: 200px;
  background-color: #000000d5;
  height: 0;
  transition: all 0.25s;
  font-size: 18px;
}

.nested-links .nested-links-item {
  color: white;
  /* width: 100%; */
}

.nested-link-container {
  position: relative;
}

.nested-link-container:hover .nested-links {
  visibility: visible;
  opacity: 1;
  
}

.nested-links {
  color: black;
  cursor: pointer;
  height: unset;
  opacity: 0;
  visibility: hidden;
  transition: all 0.25s;
}

.nested-links-item:hover {
  background-color: rgb(58, 58, 58);
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

#inteview-book-container, #coding-books-container {
  margin-top: -0.8rem;
  margin-bottom: 6rem;
}

.nested-links-item {
  margin-top: 5px;
  padding: 10px;
  margin-left: -38px;
}

.nested-links > li {
  text-align: left;
  list-style-type: none;
}

@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }
  20%,
  60% {
    transform: rotate(-25deg);
  }
  40%,
  80% {
    transform: rotate(10deg);
  }
}
.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}

/* Media queries */
@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }
  .nav {
    height: 4rem;
    margin-right: 1rem;
  }
  .nav_list {
    display: flex;
  }
  .nav_item {
    margin-left: 1rem;
    margin-bottom: 0;
  }
  .nav_toggle {
    display: none;
  }
}

@media (max-width: 768px) {
  .nested-links {
    height: 0;
    position: static;
    width: 100%;
    transition: all 0.25s;
    margin-left: 25%;
  }
  .nested-link-container:hover {
    height: unset;
  }

  .nested-link-container:hover .nested-links {
    transition: all 0.25s;
    height: 130px;
  }
  .github-corner {
    display: none !important;
  }
}
@media screen and (min-width: 1024px) {
  .nav_logo {
    margin-left: 3rem;
    font-size: 1.1rem;
  }
  .nav_menu {
    position: absolute;
    width: 90%;
  }
  .nav_list {
    float: right;
  }
  .nav_item {
    padding-right: 1rem;
    font-size: 1.1rem;
  }
}

/* Add a Book CSS  */

.mainContent {
  padding: 7%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.leftContent {
  width: 50%;
  align-items: center;
  justify-content: center;
  display: flex;
}
.rightContent {
  width: 50%;
  align-items: center;
  justify-content: center;
  display: flex;
}
.rightContent > img {
  width: auto;
  height: 100%;
}
.driveLinkHere {
  font-size: 20px;
  color: white;
  padding: 10px;
}
.aboutDriveLink {
  color: white;
  opacity: 0.7;
  padding: 10px;
}

#driveLinkInput {
  width: 100%;
  background-color: #363636;
  padding: 12px 10px;
  margin: 5px 10px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 5px;
  display: inline-flex;
  box-sizing: border-box;
  color: rgb(185, 185, 185);
  width: 100%;
}
.coverPage {
  display: flex;
  flex-direction: row;
  margin: 15px 0;
}
.coverPageText {
  color: white;
  padding: 10px;
  font-size: 20px;
}
#coverPageFile {
  color: white;
  padding: 10px;
}
.bookType {
  display: flex;
  flex-direction: column;
}

.TypeQues {
  font-size: 20px;
  color: white;
  padding: 10px;
}
label {
  padding: 10px;
  color: white;
}
.addBook {
  padding: 20px;
}
.addBook > button {
  background-color: #c4c4c4;
  padding: 12px 20px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 7px;
  display: inline-flex;
  box-sizing: border-box;
  color: rgb(0, 0, 0);
  font-family: "Comfortaa", sans-serif;
  font-size: 20px;
}
.addBook > button:hover {
  background-color: #4b4b4b;
  cursor: pointer;
  color: white;
}
.coderVector {
  float: right;
}

.box1 {
  position: relative;
  z-index: 1;
}
.mybuttonoverlap {
  width: 50%;
  height: 3em;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 0.1em;
  cursor: pointer;
  position: absolute;
  z-index: 2;
  display: none;
  padding: 0.5em;
  background-color: #1a1a1a;
  color: #c4c4c4;
  left: 27%;
  bottom: 3em;

  border: none;
  font-weight: 500;
  text-transform: uppercase;
  transition: all 0.3s ease 0s;
}
.box1:hover .mybuttonoverlap {
  display: block;
}

.mybuttonoverlap:hover {
  background-color: #1a1a1a;
  color: #c4c4c4 !important;
  font-weight: 590 !important;
  letter-spacing: 0.4px;
  -webkit-box-shadow: 5px 5px 5px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 5px 5px 5px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.3s ease 0s;
}

@media screen and (max-width: 768px) {
  .box1:hover .poster {
    transform: scale(1);
  }
  .poster:hover {
    height: 350px;
  }
  .mybuttonoverlap {
    background-color: #030303;
    border-radius: 0.3em;
    width: 30%;
    position: static;
    margin: 35px auto;
    display: block;
  }
}

footer{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer-github {
  font-size: 0.8rem;
}